[include]
  path = .gitconfig.local

[alias]
	logstat = log --stat --graph --date=iso --decorate=short --pretty='format:──── %Creset%C(yellow)[%h] %s%Creset%C(magenta)%d%n%Creset%C(cyan)%cn <%ce>%n%Creset%C(blue)%cd%n'
	diffs = diff --staged
[user]
	useConfigOnly = true
[core]
	editor = vim
	autocrlf = input
	quotepath = false
	commentChar = ";"
[merge]
	ff = false
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	algorithm = histogram
