[include]
	path = .gitconfig.local
[alias]
	logstat = log --stat --graph --date=iso --decorate=short --pretty='format:──── %Creset%C(yellow)[%h] %s%Creset%C(magenta)%d%n%Creset%C(cyan)%cn <%ce>%n%Creset%C(blue)%cd%n'
	diffs = diff --staged
[user]
	useConfigOnly = true
[core]
	autocrlf = input
	quotepath = false
	commentChar = ";"
[merge]
	ff = false
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	algorithm = histogram

# git-lfs
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# git-delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
